html,
body {
  margin: 0;
}

html * {
  font-family: Arial;
}

/* tag for header */

.myheader {
  border: 1px black;
  background-color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  width: 100%;
}

.myheader a {
  color: #4C6E7D;
  font-size: larger;
  border-radius: 10px;
  border: 1px solid #707070;
  background: #B7DBE9;
  padding: 10px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin: 0.3em;
}

.myheader a.active {
 background-color: #4C6E7D;
 color: white;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 60vw;
}

@media only screen and (max-width: 1200px) {
  nav {
    flex-direction: column;
  }
  .cards {
    flex-direction: column;
  }
  .card {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    width: 100%;
  }
}
body {
  background-color: #3D6E8A;
}

.outer-div {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.main-content {
  display: flex;
  width: 100%;
  max-width: 60vw;
  flex-direction: column;
}

.centered {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: start;
  align-items: center;
}

.box {
  color: #eaf1f4;
  font-size: 17px;
  text-align: center;
  border-radius: 10px;
  border: 5px solid #b7dbe9;
  background: #173745;
  padding: 10px;
  height: fit;
  width: 100%;
  line-height: 150%;
}

.center-div {
  text-align: center;
}

.center-align-left {
  display: inline-block;
  text-align: left;
}

h1,
h2 {
  color: white;
}

p1 {
  font-style: italic;
  font-weight: bold;
  font-size: 18px;
  color: white;
}

iframe {
  margin-top: 3em; 
  margin-bottom: 0.5em;
}

.card {
  color: #eaf1f4;
  font-size: 17px;
  text-align: center;
  border-radius: 10px;
  border: 5px solid #b7dbe9;
  background: #173745;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

.card > img {
  width: 60px;
  height: 60px;
}

.card > a {
  color: white !important;
}

.cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#socials > span > img {
  width: 30px;
  height: 30px;
}



@media only screen and (max-width: 600px) {
  iframe {
    width: 350px;
  }
}

h1 a {
  text-decoration: underline;
  color: white;
}