{{> navbar}}

<div class="GPcontent">
  <div class="Pcontent">
    <form action="/clinician/register_patient" , method="post" id="registerPatientForm">
      <div class="content-gap">

        <label class="gap-name"><b>Given Name</b></label>
        <input type="text" placeholder="Given Name" name="givenName" autocomplete="off" required />

        <label class="gap-name"><b>Family Name</b></label>
        <input type="text" placeholder="Family Name" name="familyName" autocomplete="off" required/>

        <label class="gap-name"><b>Screen Name</b></label>
        <input type="text" placeholder="Screen Name" name="screenName" autocomplete="off" required/>

        <label class="gap-name"><b>Year of Birth</b></label> <br />
        <input type="date" name="yearOfBirth" autocomplete="off"/>

        <br />

        <label class="gap-name"><b>Bio</b></label>
        <input type="text" placeholder="Brief Bio" name="bio" autocomplete="off" required/>

        <label class="gap-name"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="username" autocomplete="off" required/>

        <label class="gap-name"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" autocomplete="off" required/>

        <button
          type="submit"
          {{!-- id="submitButton" --}}
          style="margin-top:30px"
        >Register</button>
      </div>
  
    </form>
  </div>
</div>