<div class="topnav">
  <b class="log-size" style="margin-left: 40%;">Patient Log In</b>
</div>

<div style="width:100%; text-align:center">
  {{#each flash}}
    <p class="alert">{{this}}</p>
  {{/each}}
</div>

<div class="GPcontent">
  <div class="main-content">
    <div class="Pcontent">
      <form action="/patient/login" , method="post" id="loginForm">
        <div class="content-gap">
          <label for="username" class="gap-name"><b>Username</b></label>
          <input type="text" placeholder="Enter Username" name="username" />
          <label for="password" class="gap-name"><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="password" />
          <div class="checkbox">
            <label class="content-gap">
              <input type="checkbox" value="remember-me" />Remember me
            </label>
          </div>
          
        </div>
        <button type="submit" class="log-in">Log in</button>
        <div class="register-style">
          <a class="account-tell" style="margin-left: 5%;">Contact your clinician to create an account.</a>

          <button class="method">
            <a href="/clinician">
              Log in as clinician
            </a>
          </button>
        </div>
      </form> 
    </div>
  </div>
  
</div>