{{> header}}

<div class="centered_div">
<p id="rcorners1">Who We Are?</p>
<p id="rcorners7">Diabetes home is group of professionals() who decide to merge
  their expertise and provide a all in one platform assisting patients to
  monitor their health status closely. Diabetes being a long term chronic
  disease requires great level of monitoring, Diabetes@home aims to resolve the
  difficulties of data recoding and provide a responsive solution for all
  patients.
</p>

<p id="rcorners1">Why Sign Up?</p>
<p id="rcorners7">After registration you can unlock the full set of
  functionalities of our website includes: 1) Real Time access to all personal
  health data 2) Responsive design allow access from all devices 3) Motivational
  leaderboard system, joining our encouraging community 4) Support messages from
  Real doctors 5) One of the easiest way for diabetics to keep track of things
  and receive assistance from doctors.</p>

<p id="rcorners1">Click Here To Sign Up</p>

<p id="rcorners8"></p>

<p id="rcorners1">Follow Us On Social media</p>

<div3>
  <i class="fa fa-facebook-square"></i>
  <i class="fa fa-instagram"></i>
  <i class="fa fa-wechat"></i>
  <i class="fa fa-youtube"></i>
  <i class="fa fa-podcast"></i>
  <i class="fa fa-twitter"></i>
</div3>
</div>