<main style="text-align:center">

  {{> header}}

  <p id="rcorners10"><img
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/06/OOjs_UI_icon_add.svg/40px-OOjs_UI_icon_add.svg.png?20180609125822"
    />
    BE PREPARED
  </p>
  <p1>We have a strong support network and well established procedure to assist
    you manage it.
  </p1><br />
  <p2>- Become a registered patient with us
    <br />
    - Enrich your knowledge about diabetes and how to manage it
    <br />
    - Be a part of the support network
  </p2>

  <p id="rcorners10"><img
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/06/OOjs_UI_icon_add.svg/40px-OOjs_UI_icon_add.svg.png?20180609125822"
    />
    DIET AND EMOTIONAL EATING
  </p>
  <p3>Obtaining the right food helps with blood glucose management: </p3><br />
  <p2>-Fruits and vegetables
    <br />
    -Whole grains, whole wheat, brown rice, oats
    <br />
    -lots of protein
    <br />
    Although emotional eating is diabetic's arch enemy, we ease it out with the
    following advices.
    <br />
    -normalise emotional eating
    <br />
    -gaining control over emotional eating
    <br />
    -increase pleasure level
    <br />
    -the role of thoughts
    <br />
    -authentic emotional expression
  </p2>

  <p id="rcorners10"><img
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/06/OOjs_UI_icon_add.svg/40px-OOjs_UI_icon_add.svg.png?20180609125822"
    />
    ROUTINE APPOINTMENT
  </p>
  <p3>Every year the patient should go through the following tests </p3><br />
  <p2>-blood pressure
    <br />
    -weight
    <br />
    -feet
    <br />
    -eye exams
    <br />
    -foot exams
    <br />
    -hemoglobin A1C tests
    <br />
    -Cholesterol
    <br />
    -kidney tests
  </p2>

  <p id="rcorners10"><img
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/06/OOjs_UI_icon_add.svg/40px-OOjs_UI_icon_add.svg.png?20180609125822"
    />
    MEDICATION</p>
  <p2>At Diabetes home we will source and find the right medication to manage
    your case.
  </p2>

  <p id="rcorners6"></p>
  <iframe
    width="560"
    height="315"
    src="https://www.youtube.com/embed/T_lgAwaqs4g"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
  ></iframe>
  <p id="rcorners6"></p>

  <h1><p2> RELEVANT WEBSITES FOR FURTHER ASSISTANCE </p2></h1><br />
  <br />

  <img
    src="https://img.icons8.com/ios/452/world-health-organization.png"
    alt="the logo of WHO"
    class="image1"
  /><br />
  <p2>World health organisation</p2>
  <br />
  <a href="www.who.int/news-room/fact-sheets/detail/diabetes" target="_blank">
    www.who.int/news-room/fact-sheets/detail/diabetes
  </a>
  <br />
  <br />

  <img
    src="https://yt3.ggpht.com/ytc/AKedOLTgkx-U2_4LB_wFFYRMeFUnhC03U9iAcQrWvWCo=s176-c-k-c0x00ffffff-no-rj"
    class="image1"
  /><br />
  <p2>Diabetes overview info</p2>
  <br />
  <a
    href="https://www.niddk.nih.gov/health-information/diabetes"
    target="_blank"
  > https://www.niddk.nih.gov/health-information/diabetes </a><br />
  <br />

  <img
    src="https://www.myrbhs.com.au/globalassets/blocks/health-content/support-services/diabetes-nsw-act-logo.jpg"
    alt="the logo of diabetesnsw"
    class="image1"
  /><br />
  <p2>PAU diabetic community</p2>
  <br />
  <a href="https://diabetesnsw.com.au/" target="_blank">
    https://diabetesnsw.com.au/
  </a><br />
  <br />

  <img
    src="https://upload.wikimedia.org/wikipedia/commons/4/42/WebMD_logo.png?20170315220335"
    alt="the logo of webmd"
    class="image1"
  /><br />
  <p2>Diabetic must know</p2>
  <br />
  <a
    href="https://www.webmd.com/diabetes/taking-care-your-diabetes-every-day"
    target="_blank"
  > https://www.webmd.com/diabetes/taking-care-your-diabetes-every-day</a><br />
  <br />

  <div class="flexbox">
    <h1>Please navigate to the
      <a href="/patient">patient</a>
      or
      <a href="/clinician">clinician</a>
      site to continue.
    </h1>
  </div>
</main>