{{> header}}

<div class="outer-div">
  <main class="main-content">
    <h1>About Us</h1>

    <div
      class="centered"
    >
      <h2 >Why Sign Up?</h2>
      <p class="box">
        After registration you can unlock the full set of functionalities of our
        website includes: 1) Real Time access to all personal health data 2)
        Responsive design allow access from all devices 3) Motivational
        leaderboard system, joining our encouraging community 4) Support
        messages from Real doctors 5) One of the easiest way for diabetics to
        keep track of things and receive assistance from doctors.
      </p>

      <h2 >Who are we?</h2>
      <p class="box">
        Diabetes home is group of professionals() who decide to merge their
        expertise and provide a all in one platform assisting patients to
        monitor their health status closely. Diabetes being a long term chronic
        disease requires great level of monitoring, Diabetes@home aims to
        resolve the difficulties of data recoding and provide a responsive
        solution for all patients.
      </p>

      <h2 >Benefits of signing up</h2>
      <div class="box">
        <p>
          We have a strong support netwrok and a well established procedure to
          assist you in managing your diabetes.
        </p>
        <ul style="display: flex; flex-direction: column">
          <li>Become a registered patient with us</li>
          <li>Enrich your knowledge about diabetes</li>
          <li>Be a part of a support network</li>
        </ul>
      </div>

      <h2 >Follow us On social media!</h2>
      <div id="socials">
        <span>
          <img src="/twitter.svg" />
        </span>
        <span>
          <img src="/instagram.svg" />
        </span>
        <span>
          <img src="/wechat.svg" />
        </span>
      </div>
    </div>
  </div>
</div>