{{> header}}

<div class="outer-div">
  <main class="main-content">
    <h1>About Diabetes</h1>

    <div
      class="centered"
    >
      <h2 style="color: white">Be Prepared</h2>
      <div class="box">
        <p>
          We have a strong support network and a well established procedure to
          assist you in managing your diabetes.
        </p>
        <ul style="display: flex; flex-direction: column">
          <li>Become a registered patient with us</li>
          <li>Enrich your knowledge about diabetes</li>
          <li>Be a part of a support network</li>
        </ul>
      </div>
      

      <h2 style="color: white">Diet and Emotional eating</h2>
      <div class="box">
        <p3>Obtaining the right food helps with blood glucose management: </p3
        ><br />
        <p2
          >-Fruits and vegetables
          <br />
          -Whole grains, whole wheat, brown rice, oats
          <br />
          -lots of protein
          <br />
          Although emotional eating is diabetic's arch enemy, we ease it out
          with the following advices.
          <br />
          -normalise emotional eating
          <br />
          -gaining control over emotional eating
          <br />
          -increase pleasure level
          <br />
          -the role of thoughts
          <br />
          -authentic emotional expression
        </p2>
      </div>

      <h2 style="color: white">Routine Appointment</h2>
      <div class="box">
        <p3>Every year the patient should go through the following tests </p3
        ><br />
        <p2
          >-blood pressure
          <br />
          -weight
          <br />
          -feet
          <br />
          -eye exams
          <br />
          -foot exams
          <br />
          -hemoglobin A1C tests
          <br />
          -Cholesterol
          <br />
          -kidney tests
        </p2>
      </div>

      <h2 style="color: white">Medication</h2>
      <div class="box">
        <p2
          >At Diabetes home we will source and find the right medication to
          manage your case.
        </p2>
      </div>

      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/T_lgAwaqs4g"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
        style="margin-top: 0.5em; margin-bottom: 0.5em"
      ></iframe>

      <h2 style="color: white">Relevant Websites</h2>
      <div
        style="
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;
        "
          class="cards"
      >
        <div class="card">
          <img
            src="https://img.icons8.com/ios/452/world-health-organization.png"
            alt="the logo of WHO"
          />
          <a
            href="www.who.int/news-room/fact-sheets/detail/diabetes"
            target="_blank"
          >
            <h2>World health organisation</h2>
          </a>
        </div>

        <div class="card">
          <img
            src="https://yt3.ggpht.com/ytc/AKedOLTgkx-U2_4LB_wFFYRMeFUnhC03U9iAcQrWvWCo=s176-c-k-c0x00ffffff-no-rj"
          />
          <a
            href="https://www.niddk.nih.gov/health-information/diabetes"
            target="_blank"
          >
            <h2>Diabetes overview info</h2>
          </a>
        </div>

        <div class="card">
          <img
            src="https://www.myrbhs.com.au/globalassets/blocks/health-content/support-services/diabetes-nsw-act-logo.jpg"
          />
          <a href="https://diabetesnsw.com.au/" target="_blank">
            <h2>PAU diabetic community</h2>
          </a>
        </div>

        <div class="card">
          <img
            src="https://upload.wikimedia.org/wikipedia/commons/4/42/WebMD_logo.png?20170315220335"
          />
          <a
            href="https://www.webmd.com/diabetes/taking-care-your-diabetes-every-day"
            target="_blank"
          >
            <h2>Diabetic must know</h2>
          </a>
        </div>
      </div>

      <div class="centered">
        <h1>
          Please navigate to the
          <a href="/patient" style="text-decoration: underline; color: white;">patient</a>
          or
          <a href="/clinician" style="text-decoration: underline; color: white;">clinician</a>
          site to continue.
        </h1>
      </div>
    </div>
  </ma>
</div>
