<div class="myheader">
    <nav>
      <a class="active" href="/about_diabetes">
        <p>ABOUT DIABETES</p>
      </a>
      <a href="/about_website">
        <p>ABOUT US</p>
      </a>
      <a href="/patient">
        <p>PATIENT LOG IN</p>
      </a>
      <a href="/clinician">
        <p>CLINICIAN LOG IN</p>
      </a>
    </nav>
</div>

<div class="outer-div">
  <main class="main-content">
    <h1>About Diabetes</h1>
    <div class="centered">
      <h2>+ Be Prepared</h2>
      <div class="box">
        <p>
          We have a strong support network and a well established procedure to
          assist you in managing your diabetes.
        </p>
        <div class="center-div">
          <div class="center-align-left">
            - Become a registered patient with us<br />
            - Enrich your knowledge about diabetes and how to manage it<br />
            - Be a part of the support network<br />
          </div>
        </div>
      </div>
      

      <h2 style="color: white">+ Diet and Emotional eating</h2>
      <div class="box">
        <p3>Obtaining the right food helps with blood glucose management: </p3>
        <div class="center-div">
          <div class="center-align-left">
           - Fruits and vegetables<br />
           - Whole grains, whole wheat, brown rice, oats<br />
           - Lots of protein<br />
          </div>
        </div>
        <p3>Although emotional eating is diabetic's arch enemy, we ease it out
        with the following advices.</p3>
        <div class="center-div">
          <div class="center-align-left">
            - Normalise emotional eating<br />
            - Gaining control over emotional eating<br />
            - Increase pleasure level<br />
            - The role of thoughts<br />
            - Authentic emotional expression<br />
          </div>
        </div>
      </div>

      <h2 style="color: white">+ Routine Appointment</h2>
      <div class="box">
        <p3>Every year the patient should go through the following tests: </p3>
        <div class="center-div">
          <div class="center-align-left">
            - Blood pressure<br />
            - Weight<br />
            - Feet<br />
            - Eye exams<br />
            - Foot exams<br />
            - Hemoglobin A1C tests<br />
            - Cholesterol<br />
            - Kidney tests<br />
          </div>
        </div>
      </div>

      <h2 style="color: white">+ Medication</h2>
      <div class="box">
        <p2
          >At Diabetes home we will source and find the right medication to
          manage your case.
        </p2>
      </div>

      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/T_lgAwaqs4g"
        title="YouTube video player"
        frameborder="0"
        allow="fullscreen; accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      ></iframe>
    </div>
    <h1>Relevant Website</h1>
    <div class="centered">
      <div class="cards">
        <div class="card">
          <img
            src="https://img.icons8.com/ios/452/world-health-organization.png"
            alt="the logo of WHO"
          />
          <a
            href="www.who.int/news-room/fact-sheets/detail/diabetes"
            target="_blank"
          >
            <h2>World health organisation</h2>
          </a>
        </div>

        <div class="card">
          <img
            src="https://yt3.ggpht.com/ytc/AKedOLTgkx-U2_4LB_wFFYRMeFUnhC03U9iAcQrWvWCo=s176-c-k-c0x00ffffff-no-rj"
          />
          <a
            href="https://www.niddk.nih.gov/health-information/diabetes"
            target="_blank"
          >
            <h2>Diabetes overview info</h2>
          </a>
        </div>

        <div class="card">
          <img
            src="https://www.myrbhs.com.au/globalassets/blocks/health-content/support-services/diabetes-nsw-act-logo.jpg"
          />
          <a href="https://diabetesnsw.com.au/" target="_blank">
            <h2>PAU diabetic community</h2>
          </a>
        </div>

        <div class="card">
          <img
            src="https://upload.wikimedia.org/wikipedia/commons/4/42/WebMD_logo.png?20170315220335"
          />
          <a
            href="https://www.webmd.com/diabetes/taking-care-your-diabetes-every-day"
            target="_blank"
          >
            <h2>Diabetic must know</h2>
          </a>
        </div>
      </div>

    </div>
    <h1>
      Please navigate to the
      <a href="/patient">patient</a>
      or
      <a href="/clinician">clinician</a>
      site to continue.
    </h1>
  </main>
</div>
