<div class="myheader">
  <div style="display:flex; justify-content:center; width:100%;">
    <nav>
      <a class="nav-item" href="/about_diabetes">
        <p>ABOUT DIABETES</p>
      </a>
      <a class="nav-item" href="/about_website">
        <p>ABOUT US</p>
      </a>
      <a class="nav-item" href="/patient">
        <p>PATIENT LOG IN</p>
      </a>
      <a class="nav-item" href="/clinician">
        <p>CLINICIAN LOG IN</p>
      </a>
    </nav>
  </div>
</div>