<div class="myheader">
  <nav>
    <li>
      <a href="/about_diabetes">
        <p id="rcorners2">ABOUT DIABETE</p>
      </a>
    </li>
    <li>
      <a href="/about_website">
        <p id="rcorners3">ABOUT US</p>
      </a>
    </li>
    <li>
      <a href="/patient">
        <p id="rcorners3">PATIENT LOG IN</p>
      </a>
    </li>
    <li>
      <a href="/clinician">
        <p id="rcorners3">CLINICIAN LOG IN</p>
      </a>
    </li>
  </nav>
</div>